/*
SOURCE: Oxygen Team
*/


div.bigstars div.rateit-range
{
    background: url('../img/star-white32.png');
    height: 32px;
}

div.bigstars div.rateit-hover
{
    background: url('../img/star-red32.png');
    height: 32px;
}

div.bigstars div.rateit-selected
{
    background: url('../img/star-gold32.png');
    height: 32px;
}

div.bigstars div.rateit-reset
{
    background: url('../img/star-black32.png');
    width: 32px;
    height: 32px;

}

div.bigstars div.rateit-reset:hover
{
    background: url('../img/star-white32.png');
    height: 32px;
}


/***** Added by Dario Curvino ******/

/* Creating set 24px image with yellow color read only. */

div.medium div.rateit-range
{

    background: url('../img/star-white24.png');
    height: 24px;
}

div.medium div.rateit-hover
{
    background: url('../img/star-red24.png');
}

div.medium div.rateit-selected
{
    background: url('../img/star-gold24.png');
}

div.medium div.rateit-reset
{
    background: url('../img/star-black24.png');
    width: 24px;
    height: 24px;

}

div.medium div.rateit-reset:hover
{
    background: url('../img/star-white24.png');
}
