/****** Rate it rules *****/

.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url('../img/star.png');
    height: 16px;
    outline: none;
    vertical-align: -5px;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover
{
    background: url('../img/star.png') left -16px;
}


.rateit .rateit-selected
{
    background: url('../img/star.png') left -32px;
}

.rateit .rateit-preset
{
    background: url('../img/star.png') left -48px;
}

.rateit button.rateit-reset
{
    background: url('../img/delete.gif') 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}

.yasr_settings_fields_content {
    background-color: #F7F7F7;
}

/*
IMAGES BY: Oxygen Team
*/

/* Creating set 24px image . */

div.medium .rateit-range
{
    /*White*/
    background: url('../img/stars24.png') left 0px;
    width: 24px; 
    height: 24px;
}

div.medium .rateit-hover
{
    /*Red*/
    background: url('../img/stars24.png') left -29px;
    width: 24px; 
    height: 24px;
    display: none

}

div.medium .rateit-selected
{
    /*Yellow*/
    background: url('../img/stars24.png') left -58px ;
    width: 24px; 
    height: 24px;
}

/* Creating set 32 */

div.bigstars .rateit-range
{
    /*White*/
    background: url('../img/stars32.png') left 0px ; 
    width: 32px; 
    height: 32px;
}

div.bigstars .rateit-hover
{
    /*red*/
    background: url('../img/stars32.png') left -74px ; 
    width: 32px; 
    height: 32px;
    display: none
}

div.bigstars .rateit-selected
{
    /*Gold*/
    background: url('../img/stars32.png') left -37px ; 
    width: 32px; 
    height: 32px;
}

/****** End rateit rules ******/




/****** NON ADMIN RULES ******/

.yasr_schema{
    font-size: small;
}

#yasr-custom-text-before-overall {
    display: block;
    padding-right: 15px;
    vertical-align: top;
}

#yasr-custom-text-before-visitor-rating {
    display: block;
    padding-right: 15px;
    vertical-align: top;
}

.yasr-container-custom-text-and-visitor-rating {
    /**/
}

#yasr-custom-text-before-visitor-rating {
    display: block;
    vertical-align: top;
    padding-right: 15px;
}

#yasr_visitor_votes {
    font-size: small;
    display: inline-block;
}

.yasr-total-average-text {
    display: inline-block;
}

.yasr-dashicons-visitor-stats {
    vertical-align: bottom;
    text-decoration: none;
    cursor: pointer; 
    cursor: hand;
}

.yasr-total-average-text-medium {
    display: block;
}

.yasr-small-block-bold {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.yasr-highest-rated-text{
    display: block;
}

.yasr-loader-multiset-visitor {
    display: none;
}

/***  Progress bar, this class are used in 
yasr_pro_comment_reviews_stats shortcode too***/

.yasr-progress-bars-container {
    width: 100%;
}

.yasr-progress-bar-row-container {
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.yasr-progress-bar-name {
    width: 60px;
    text-align: left;
    display: inline-block;
}

.yasr-progress-bar {
    display: inline-block;
    width: 150px;
    height: 15px;
    margin-right: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: -2px;
}

/*I must use this to remove radius on top left.*/

.yasr-progress-bar > .ui-progressbar-value {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background: #FFD700;
}

.yasr-progress-bar-votes-count {
    display: inline-block;
    width: 40px;
}


/*** End progress bar ***/


/*** Tooltip ***/

.yasr-visitors-stats-tooltip {
    width: 300px;
}

/*** Tooltip ***/