.yasr_table_multi_set_shortcode {
    border-collapse: separate;
    border-spacing: 1px;
    border-width: 1px 0px 0px 1px;
    border-color: #ddd;
    margin-top: 10px;
    margin-bottom: 24px;
    width: 100%;
}

.yasr_table_multi_set_shortcode td {
    padding: 8px;
}

.yasr_table_multi_set_shortcode tr:nth-child(odd) {
        background: #FFFFec;
    }
    /*  Define the background color for all the EVEN background rows  */
.yasr_table_multi_set_shortcode tr:nth-child(even) {
        background: #FFFFFF;
    }

.yasr-multi-set-name-field {
    color: #555;
}


.yasr-top-10-highest-rated {
    border-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 24px;
    width: 100%;
}

.yasr-top-10-highest-rated td {
    padding: 8px;
}

.yasr-top-10-highest-rated tr:nth-child(odd) {
        background: #FFFFec;
}
    /*  Define the background color for all the EVEN background rows  */
.yasr-top-10-highest-rated tr:nth-child(even) {
        background: #FFFFFF;
}


#loader-most-highest-chart {
    background-color: #FFFFec;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.yasr-most-or-highest-rated-posts {
    border-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 24px;
    width: 100%;
}

.yasr-most-or-highest-rated-posts th {
    padding: 12px;
    color: #555;
}

.yasr-most-or-highest-rated-posts td {
    padding: 8px;
    width: 50%;
    color: #555;
}

.yasr-most-or-highest-rated-posts tr:nth-child(odd) {
        background: #FFFFec;
}
    /*  Define the background color for all the EVEN background rows  */
.yasr-most-or-highest-rated-posts tr:nth-child(even) {
        background: #FFFFFF;
}


.yasr-top-5-active-reviewer {
    border-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 24px;
    width: 100%;
}

.yasr-top-5-active-reviewer th {
    padding: 12px;
    color: #555;
}

.yasr-top-5-active-reviewer td {
    padding: 8px;
    width: 50%;
}

.yasr-top-5-active-reviewer tr:nth-child(odd) {
        background: #FFFFec;
}
    /*  Define the background color for all the EVEN background rows  */
.yasr-top-5-active-reviewer tr:nth-child(even) {
        background: #FFFFFF;
}




.yasr-top-10-active-users {
    border-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 24px;
    width: 100%;
}

.yasr-top-10-active-users th {
    padding: 12px;
    color: #555;
}

.yasr-top-10-active-users td {
    padding: 8px;
    width: 50%;
}

.yasr-top-10-active-users tr:nth-child(odd) {
        background: #FFFFec;
}
    /*  Define the background color for all the EVEN background rows  */
.yasr-top-10-active-users tr:nth-child(even) {
        background: #FFFFFF;
}