#multi_rating_table 
{
	vertical-align: text-top;
}

.yasr-form-result {
    display: block;
}

@media (min-width: 972px) {

    .yasr-settingsdiv {
	    float:left; 
        display:block; 
        width:70%; 
        background-color:#FFF;
        border: 1px solid #DDD;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    .yasr-donatedivdx {
        float:right; 
        display:block !important; 
        width:15%; 
        background-color:#FFF;
        border: 1px solid #DDD;
        padding: 25px;
        font-size: 12px;
    }
}

@media (max-width: 971px) {

    .yasr-settingsdiv {
        float:left; 
        display:block; 
        width:95%; 
        background-color:#FFF;
        border: 1px solid #DDD;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .yasr-donatedivbottom { 
        display:block !important; 
        width:95%; 
        background-color:#FFF;
        border: 1px solid #DDD;
        padding: 10px;
        font-size: 12px;
    }
}

.yasr-list-set-table {
    margin-left:5px; 
}

.yasr-space-settings-div {
    padding-bottom: 15px;
    clear: both;
}

.yasr-multi-set-left {
    float:left;
    width: 40%;
}

.yasr-multi-set-right {
    float:right;
    width: 55%;
}

.yasr-new-multi-set {
    display: none;
    overflow: auto;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #DDD;
    background-color: #f7f7f7;
}

.yasr-manage-multiset {
    display: none;
    overflow: auto;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #DDD;
    background-color: #f7f7f7;
}

.yasr-manage-multiset-single {
    display: none;
    overflow: auto;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #DDD;
    background-color: #f7f7f7;
}


.yasr-input-text-multi-set{
    margin-left: 30px;
    margin-bottom: 10px;
}

.yasr-result-step-1{
    padding-left: 25px;
    padding-top: 10px;
}

.yasr-result-step-2{
    padding-left: 45px;
}

#yasr-multi-set-response {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    background-color: #f7f7f7;
}

#yasr-multi-set-response2 {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    background-color: #f7f7f7;
}

#yasr-table-form-edit-multi-set {
    width: 100%;
}

#yasr-table-form-edit-multi-set-header {
    text-align: center;
    padding: 5px;
}

#yasr-table-form-edit-multi-set-remove {
    text-align: center;
    padding: 5px;
}

.yasr-edit-form-remove-entire-set {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: red; 
}


.yasr_table_multi_set_shortcode tr:nth-child(odd) {
        background: #FFFFec;
    }
    /*  Define the background color for all the EVEN background rows  */
.yasr_table_multi_set_shortcode tr:nth-child(even) {
        background: #FFFFFF;
    }

.yasr_table_multi_set_admin {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 20px;
}

@media (min-width: 972px) {
    .yasr_table_multi_set_admin {
        width: 70%;
    }
}


@media (max-width: 971px) {
    .yasr_table_multi_set_admin {
        width: 90%;
    }
}

 .yasr_table_multi_set_admin td {
        width: 50%
    }

.yasr_table_multi_set_admin tr:nth-child(odd) {
        background: #feffd3;
    }
    /*  Define the background color for all the EVEN background rows  */
.yasr_table_multi_set_admin tr:nth-child(even) {
        background: #FFFFFF;
    }

#yasr-log-container  {
    width: 98%;
}

.yasr-log-div-child {
    padding-top: 5px;
    border-bottom: 1px solid #BBD8E7;
    padding-bottom: 20px;
}

#yasr-log-image {
    list-style-type: none;
    display: inline-block; 
    float:left;
}

#yasr-log-child-head {
    padding-left: 37px;
}

#yasr-log-vote {
    color: red;
}

#yasr-log-post {
    color: #2683AE;
}

#yasr-log-ip-date {
    padding-top: 5px;
}

#yasr-log-ip {
    float:left;
    padding-left: 5px;
}

#yasr-log-date {
    float: right;
}

#yasr-log-next-rows {
    padding-top: 15px;
    text-align: right;
}

#yasr-log-page-navigation {
    padding-top: 7px;
    text-align: center;
}